.first{
    background-color: orange;
    height: 200px;
    width: 100%;
}
.second{
    background-color:white;
    height: 200px;
    width: 100%;
}
.third{
    background-color: green;
    height: 200px;
    width: 100%;
}